.CalendrierPageContainer {
  margin: 30px;
}

.mySoonEventsContainer {
  margin: 10px;
  /* padding-left:30px; */
}

.eventsBookedContainer {
  display: flex;
  width: 75%;
  position: relative;
  /* padding-left:30px; */
  margin-left: 60px;
}

/* hr c'est le trait */
.hr {
  border: 5px;
  height: 1px;
  background: #2e4656;
  margin: 40px 40px 0px 40px;
  width: 70%;
}

.calendarAndResultContainer {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 10px;
  width: 85%;
}

.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 35%;
  height: 540px;
  background-color: #2e4656;
  border-radius: 8px;
  padding: 10px;
  color: #2e4656;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.bookedEventsSpecificDate {
  position: relative;
  width: 54%;
  height: 300px;
  align-content: center;
  margin-right:60px;
}

.buttonStyle {
  margin-left: 30px;
  font-size: 35px; /* taille de la flèche */
  color: white;
  background-color: #2e4656;
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer; 
  transition: background-color 0.3s ease; /* Animation du background */
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #F2AF77;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}


/* STYLE DES FLECHES DES SWIPERS */
.customnext1,
.customprev1 {
  background-color: #f4a261; 
  border-radius: 50%; 
  width: 50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  position: absolute;
  top: 80%; /* position verticale */
  transform: translateY(-50%);
}

.customnext1 {
  right: -60px; 
}

.customprev1 {
  left: -60px;
}

.customnext1 i,
.customprev1 i {
  font-size: 24px; /* Taille de la flèche */
  color: #fff;
}

.customnext2,
.customprev2 {
  background-color: #f4a261; 
  border-radius: 50%; 
  width: 50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  position: absolute;
  top: 50%; /* Centré verticalement */
  transform: translateY(-50%);
}

.customnext2 {
  right: -60px; 
}

.customprev2 {
  left: -60px;
}

.customnext2 i,
.customprev2 i {
  font-size: 24px; /* Taille de la flèche */
  color: #fff;
}