.formAndPreviewContainer {
  display: flex;
  justify-content: space-between;
}

.formContainer {
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.firstPart,
.secondPart,
.thirdPart {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 32%;
}

.inlineGroup {
  display: flex;
  justify-content: space-between;
}

.formGroup {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  top: -8px;
  left: 8px;
  background: white;
  padding: 0 4px;
  color: #2E4656;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  color: #2E4656;
}

.input:focus {
  border-color: #F2AF77;
}

.input::placeholder {
  color: #ccc;
}

.submitButton {
  background-color: #F2AF77;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: white; 
  color: #F2AF77;
  border-color: #F2AF77;
  border: 1px solid;
}

.hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 5px 0;
}

.uploadImageContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.fileInput {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}

.uploadImageButton {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #2e4656;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.uploadImageButton:hover {
  background-color: #f1f1f1;
  border-color: #bbb;
}

.uploadImageButtonIcon {
  margin-left: 15px;
  font-size: 16px;
  display: flex;
}

.previewContainer {
  margin: 10px;
  display: flex;
}

.imagePreviewWrapper {
  display: inline-block;
  margin: 10px;
  position: relative;
}

.imagePreview {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.removeImageButton {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #2E4656;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagePreviewContainer {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
}

.cardPreviewContainer {
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagePreviewContainer {
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}