.container {
  padding: 16px;
  background-color: #fff;
}

.firstPartofPage {
  display: flex;
  margin-bottom: 16px;
  width: 1300px;
  height: 400px;
  justify-content:left;
}

.picturesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}


.roundButton {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 35px; /* taille de la flèche */
  color: white;
  background-color: #f2af77;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.roundButton:hover {
  background-color: white; 
  color: #f2af77;
  border-color: #f2af77;
  border: 1px solid;
}


.mainImage {
  width: 460px;
  height: 350px;
  border-radius: 8px;
  object-fit: contain;
  border-radius: 25px;
 
}

.eventContent {
  display: block;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 600px;
  margin-top: 24px;
  margin-bottom: 26px;
}

.secondPartofPage {
  display: flex;
  margin-bottom: 16px;
  width: 1300px;
  height: 400px;
  justify-content:left;
}

.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 400px;
}

.mapImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: left;
  height: 100%; 
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  width: 600px;
}

.headerInfoContainer {
  display: flex;
  justify-content:space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 16px;
  width: 50%
}

.infosData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2F4858;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  width: 100%;
  height: 70%;
  margin-top:20px;
}

.infoButton {
  width: 245px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #2e4656;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.smallInfoButtonContainer {
  display: flex;
  justify-content:space-between;
  width: 500px;
  margin: 5px 10px 5px 10px;
}

.longInfoButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #2e4656;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin: 5px 10px 5px 10px;
  text-align: center;
}

.placeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 10px 20px;
  border: 1px solid #2e4656;
  border-radius: 8px;
  background-color: #f2af77;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin: 5px 10px 5px 10px;
}

.placeButton:hover {
  background-color: #ffffff;
  color: #f2af77;
  font-weight: bold;
  border-color: #f2af77;
  border: 1px solid;
  cursor: pointer;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.title {
  margin: 15px;
}

.description {
  margin: 15px;
  max-height: 200px;
  overflow-y: auto; /* permet de scroller si la description dépasse la div */
  padding: 10px;
}

.iconButton {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}