.footer {
	display: flex;
	justify-content: space-between;  /*justify-content: space-between sépare les éléments sur toute la largeur du footer.  */
	align-items: center;
	width: 100vw;
	height: 100px;
	background-color: rgb(46,70,86);
	padding: 0 20px;
	bottom: 0;
	color: white;
	font-size: 16px;
  }
  
  .logocontainer {  /* Englobe la premiere section  */
	flex: 1;
	display: flex;
	justify-content: flex-start;/*Les éléments sont alignés à gauche.  */
	align-items: center;
	width:20vw;
	overflow-y: hidden;/*tout ce qui dépasse de la DIv est caché   */
	height: 100px;
  }
  
  .logo {
	width: 140px;
	margin-left: 20px;
	cursor: pointer;
  }
  
  .centerContainer {   /* Englobe la seconde section  */
	flex: 2;/* signifie que cette section occupera plus d'espace disponible dans le conteneur flex principal (le .footer) par rapport à un autre élément qui aurait une valeur de flex: 1. Donne plus d'importance à la section centrale par rapport aux autres sections. */
	display: flex;
	flex-direction: column;
	justify-content: center; /*Les éléments sont centrés au milieu du footer  */
	align-items: center;
	gap: 20px;
	margin-top: 35px;
  }
  .topLine {
	margin-bottom: 10px; 
	font-size: 16px; 
}

.bottomLine {
	display: flex;
	gap: 20px;
	width: 70vw;/*Pour que totu s'affiche correctement la taille de bottomline est de 70% du footer  */
justify-content: center;
}

.bottomLine div{
	font-size: 14px;
	transform: translateY(-10px);/* pour decaler l'axe Y (vertical ) de 10       */

}
  

  .bottomLine a{   /* pour mettre du css uniquement sur les liens et pas sur @2024 IZY... */
	/* padding-bottom: 40px; */
	transform: translateY(-10px);
	text-decoration: underline;
	cursor: pointer;
	letter-spacing: 1px;
	font-size: 14px;
	color:white
  }
  
  .bottomLine a:hover {
	color:rgb(242,175,119);
	font-weight: 600;

  }
  
  .socialContainer {/* Englobe la troisièm section  */
	flex: 1;
	display: flex;
	justify-content: flex-end;/*Les éléments sont alignés à droite  */
	align-items: center;
	gap: 20px;
	width:10vw /* Uniquement 10% de la taille du footer */
  }
  
  
  .reseaux {
	width: 35px;
  }
  .reseaux:hover {
	width: 65px;
  }
  
  
  .fbk {
	width: 45px;
  }
.fbk:hover{
	width: 75px;
}