.texte{color:rgb(46,70,86)

}

.container {
    margin-bottom: 50px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width:100%;
}

.top {
    text-align: center;
}

.formula, .connectionWay{
    width: 100%;
    padding: 10px;
display: flex;
box-sizing: border-box;
border-radius: 15px;
outline: none;
flex-direction: column;
align-items: center;
justify-content: center;
	
}

.connectionWay{
    margin-top:-50px;
}


.formula input {
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 15px;
	cursor: pointer;
    margin-left: 5px;
outline: none;
}



.formula:hover {
    color: rgb(242,175,119);
font-weight: bold;
cursor: pointer;
        }

.button {
font-size: 20px;
	border: 1px solid grey;
	border-radius: 15px;
	width:400px;
	height:40px;
	cursor: pointer;
	color:white;
	background-color: rgb(242,175,119);
    margin-top: 20px;
   

	
}
.button:hover {
	background-color: white;
	color: rgb(242,175,119);
	font-weight: bold;
}

.buttonbis {
    display: flex;
    align-items: center;

font-size: 16px;
	width:400px;
	height:40px;
	cursor: pointer;
	color:black;
    margin-top: 20px;
    background-color:rgb(254,247,241);
}


.buttonbis i {

color:black;
font-size: 32px;
margin-right: 5%;
}

.buttonbis:hover {
	background-color: white;
	color: rgb(242,175,119);
	font-weight: bold;
}



    .passwordContainer {
        display: flex;
        align-items: center;
      }



      .eyeIcon {
        margin-left: -28px;
        cursor: pointer;
        font-size: 25px;
      }