

.header {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 60px;
	background-color: rgb(46,70,86);
	padding: 0px 20px 0px 20px;

  
}
.logoAndSearchContainer {
	display: flex;
	align-items: center;
  }
.logo {
	margin-left: 20px;
	width: 100px;
}



.searchbar{
	border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
  }

  
.link {
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

.link:hover {
	font-weight: 600;
}

.linkContainer {
	width: 25vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.buttonContainer {

display: flex;
align-items: center;
justify-content: center;
gap: 13px;     /*espace entre les élements enfants   */
}


.button {
	border: 1px solid grey;
	border-radius: 15px;
	width:100px;
	height:50%;
	cursor: pointer;
	color:white;
	background-color: rgb(242,175,119);
	
}

.button:hover {
	color:black;
	font-weight: bold;
}
