.mostConsultedContainer {
  margin-left: 30px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.roundButton {
  margin-left: 30px;
  font-size: 35px; /* taille de la flèche */
  color: white;
  background-color: #F2AF77;
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre */
  border: none;
  cursor: pointer; 
  transition: background-color 0.3s ease; /* Animation de la couleur de fond */
}

.roundButton:hover {
  background-color: white; /* Couleur de fond au survol */
  color: #F2AF77;
  border-color: #F2AF77;
  border: 1px solid;
}
