.netflixContainer {
  margin-left: 30px;
  padding-top: 30px;
}

.roundButton {
  margin-left: 30px;
  font-size: 35px; /* taille de la flèche */
  color: white;
  background-color: #f2af77;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animation du background */
}

.roundButton:hover {
  background-color: white;
  color: #f2af77;
  border-color: #f2af77;
  border: 1px solid;
}

.p {
  font-size: 50px;
}

.marketingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px;
  font-size: 20px;
}

.argumentationContainer {
  margin-left: 60px;
  width: 700px;
  color: #2e4656;
  display: block;
  justify-content: center;
  text-align: justify;
}

.inscriptionButton {
  border: 1px solid #f2af77;
  border-radius: 15px;
  width: 280px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: rgb(242, 175, 119);
  font-weight: bold;
  margin-top: 30px;
}

.inscriptionButton:hover {
  background-color: white;
  color: rgb(242, 175, 119);
  font-weight: bold;
  border-color: #f2af77;
  border: 1px solid;
  cursor: pointer;
}

.pic {
  border-radius: 50px;
}

.buttonbis {
  display: flex;
  align-items: center;

  font-size: 16px;
  width: 400px;
  height: 40px;
  cursor: pointer;
  color: black;
  margin-top: 20px;
  background-color: rgb(254, 247, 241);
}

.buttonbis i {
  color: black;
  font-size: 32px;
  margin-right: 5%;
}

.buttonbis:hover {
  background-color: white;
  color: rgb(242, 175, 119);
  font-weight: bold;
}

.mySoonEventsContainer {
  margin: 10px;
}

.eventsBookedContainer {
  display: flex;
  width: 75%;
  margin-left: 30px;
  position: relative;
}

.mostConsultedContainer {
  margin-left: 40px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  width: 77%;
  position: relative;
  overflow: visible;
}

/* STYLE DES FLECHES DES SWIPERS */
.customnext,
.customprev {
  background-color: #f4a261; /* Couleur de fond de la flèche */
  border-radius: 50%; /* Pour rendre le bouton rond */
  width: 50px; /* Ajustez la taille selon votre besoin */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet d'élévation */
  position: absolute;
  top: 50%; /* Centré verticalement */
  transform: translateY(-50%);
  z-index: 1000; /* Augmentez le z-index pour vous assurer qu'elles sont visibles */
}

.customnext {
  right: -60px; /* Ajustez la position pour qu'elle soit en dehors du conteneur */
}

.customprev {
  left: -60px; /* Ajustez la position pour qu'elle soit en dehors du conteneur */
}

.customnext i,
.customprev i {
  font-size: 24px; /* Taille de l'icône */
  color: #fff; /* Couleur de l'icône */
}
