.texte{color:rgb(46,70,86)

}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.top {
    text-align: center;
}

.cross{
margin-left: 25%;
margin-top: 15%;
}



.formula{
    width: 140%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
	
}

.formula input {
    width: 140%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 15px;
	cursor: pointer;
    margin-left: 5px;
outline: none;
}


.formula:hover {
    color: rgb(242,175,119);
   
   
font-weight: bold;


cursor: pointer;

        }

.button {


	border: 1px solid grey;
	border-radius: 15px;
	width:150px;
	height:40px;
	cursor: pointer;
	color:white;
	background-color: rgb(242,175,119);
    margin-top: 20px;

	
}
.button:hover {
	background-color: white;
	color: rgb(242,175,119);
	font-weight: bold;
}

.connectionWay {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonbis{
    border: 1px solid grey;
	border-radius: 15px;
	width:150px;
	height:40px;
	cursor: pointer;
	color:white;
	
    margin-top: 20px;

}

.buttonbis i {
display: flex;
color:black;
}