.inputStyle {
  width: 400px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid grey;
  outline: none;
  font-size: 16px; /* Ajuster la taille de la police si nécessaire */
}

/* Styles pour les boutons */
.button {
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 15px;
  width: 400px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: rgb(242, 175, 119);
  margin-top: 20px;
}

.button:hover {
  background-color: white;
  color: rgb(242, 175, 119);
  font-weight: bold;
}

/* Conteneur pour les champs de mot de passe et icône */
.passwordContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajout d'une marge en bas si nécessaire */
}

/* Styles pour l'icône des yeux */
.eyeIcon {
  margin-left: -28px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Ajuster la taille si nécessaire */
  color: grey; /* Couleur par défaut pour l'icône */
  transition: color 0.3s ease;
}

.eyeIcon:hover {
  color: rgb(242, 175, 119); /* Couleur de l'icône au survol */
}

/* Styles pour le conteneur principal */
.container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.texte {
  color: rgb(46, 70, 86);
}