.buttonContainer {
  display: flex;
  gap: 20px;
}

.displayContainer {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.button {
  border: 1px solid #e38d83;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: #e38d83;
  margin: 15px;
}

.button:hover {
  background-color: "white";
  color: #e38d83;
  font-weight: bold;
}

.icon {
  color: "white";
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  font-size: 35px;
  cursor: pointer;
}

.navigation-buttons button {
  background-color: white;
  color: #e38d83;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.navigation-buttons button.active {
  background-color: #e38d83;
}

.swipeContainer {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.img {
  display: flex;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-content: space-evenly;
  object-fit: cover;
}

.iconContainer {
  margin-top: 20px;
  justify-content: space-evenly;
}

.imgContainer {
  justify-content: space-evenly;
  display: flex;
}

.topContainer {
  margin-left: 10%;
  margin-top: 20px;
}

.link {
  display: flex;
}

/* .popUp {
    display: flex;
    width: 20px;
    height: 10px;
   } */

/* .popUpImg {
    display: flex;
    align-items: center;
    object-fit: cover
   } */
