.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  width: 1200px;
}

.searchbar {
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar i {
  color: #e38d83;
  margin-right: 5%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid #e38d83;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: #e38d83;
  margin: 20px;
}

.button:hover {
  background-color: yellow;
  color: #e38d83;
  font-weight: bold;
}

.icon {
  color: #e38d83;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  font-size: 35px;
  cursor: pointer;
}
