
.shareContainer {
    position: relative;
    display: inline-block;
  }
  
  .iconButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .shareMenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .shareItem {
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }